<configuration>
    <appSettings>
        <!--Configuration of Genetic Algorithm-->
        <add key="SelectionMethod" value="Roulette"/> <!--Selection Methods {Roulette:"Roulette" , Tournament:"Tournament"}-->
        <add key="CrossOverMethod" value="GX5"/>      <!--Crossover Methods {Single Point:"CrossOver1Points" , Double Point:"CrossOver2Points" , Ordered: "OX1" , Greedy:"GX5"}-->
        <add key="MutationMethod" value="Inversion"/> <!--Mutation Methods {Gene Swap:"Swapping" , Genes Inversion:"Inversion"}-->
        <add key="EvalMethod" value="Distance"/>

        <!--Data Path : same directory of .exe file-->
        <add key="data_path" value="99.csv"/>


        <!--HyperParameter of Genetic Algorithm-->
        <add key="PopulationSize" value="400"/>
        <add key="mutationProbability" value="0.3"/>
        <add key="ElitesRatio" value="0.3"/>
        <add key="numberOfGenerations" value="400"/>
        <add key="isClosedLoop" value="true"/>
        <add key="StartingCity" value="1"/>
        <add key="EndingCity" value="1"/>

        <!--For Tournament Selection -->
        <add key="tournamentSampleSize" value="0.01"/>
        <add key="winningProbability" value="0.6"/>
        
        <!--Parallelism Settings (tpl)-->
        <add key="MaxDegreeOfParallelism" value="-1"/>
        <add key="BoundedCapacity" value="-1"/>
       
    </appSettings>
</configuration>